<!-- TODO/templates/TODO/todo_list.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
</head>
<body>
    <h1>To-Do List</h1>
    <form action="{% url 'add_item' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="text" placeholder="Enter new item">
        <button type="submit">Add</button>
    </form>
    <ul>
        {% for item in TODO%}
        <li>{{ item.text }} <a href="{% url 'remove_item' item.id %}">(remove)</a></li>
        {% endfor %}
    </ul>
</body>
</html>

